body {
    background-color: rgb(255, 255, 165); 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: rgb(120, 153, 180);
}

h1 {
    font-size: 2.5em; 
    font-family: monospace; 
    font-style: italic; color: transparent; 
    background: radial-gradient(circle, #ffffff, #8354b9, #3c024b); 
    -webkit-background-clip: text; 
    background-clip: text; 
    margin: 0; 
}


.image {

    border: 5px solid lightgray;
    border-radius: 10px;
    height: 400px;
}


.link-button {
    text-decoration: none; 
    color: black; 
    border: 1px solid gray; 
    background-color: #f2f2f2; 
    padding: 5px; 
    border-radius: 5px; 
    box-shadow: 2px 3px #888888; 
}
